.signin{
    padding: 3rem;
    width: 30vw;

    .g-button{
      margin-left: .8rem;
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: rgb(33, 102, 192);
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      border: none;
      cursor: pointer;
    
      &:hover {
        background-color: white;
        color: rgb(33, 102, 192);
        border: 1px solid rgb(33, 102, 192)
      }
  }

  .signin-btns{
   
    display: flex;
  }
    
}

